* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

i:hover {
    cursor: pointer;
}

.fa {
    color: darkslategray;
}

.header {
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 12.5%;
    height: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fa-bars:hover {
    cursor: pointer;
}

.search_bar {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 80%;
    height: 70%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightslategray;
}

.search:hover {
    border: 1px solid blue;
}

input {
    width: 95%;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 0.7rem;
}

.fa-keyboard-o:hover {
    color: black;
}

.bt_search {
    width: 8%;
    height: 70%;
}

.bt_search:hover {
    cursor: pointer;
}

.fa-microphone {
    margin-left: 3%;
    padding: 1% 1.5%;
    background-color: whitesmoke;
    border-radius: 50%;
}

.fa-microphone:hover {
    background-color: lightgray;
}

.account {
    width: 12.5%;
    height: 100%;
    display: flex;
    float: right;
    padding: 0.5%;
    justify-content: space-between;
    align-items: center;
}

.apps {
    width: 40px;
    height: 40px;
    color: darkslategray;
}

.apps:hover {
    cursor: pointer;
}

.login {
    margin: 0 2%;
    padding: 5% 5%;
    border: 1px solid rgb(110, 110, 255 );
    font-size: xx-small;
}

.login:hover {
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 94vh;
    display: flex;
}

.side {
    width: 12.5%;
    height: 100%;
    overflow: scroll;
}

.side::-webkit-scrollbar {
    display: none;
}

.side i {
    color: black;
}

.side p {
    margin: 5% 10%;
    font-size: medium;
}

.sidebt {
    height: 5%;
    margin: 1%;
    padding: 3% 10%;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
}

.sidebt:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.icon {
    margin-right: 10%;
}

.blabla {
    width: 80%;
    margin: 0 auto;
    padding: 3% 5%;
    font-size: 0.7rem;
}

.blabla .login {
    margin: 10% 0;
}

.footer {
    width: 80%;
    margin: 0 auto;
    font-size: small;
    color: lightslategray;
}

.footer a {
    font-size: small;
    color: gray;
    text-decoration: none;
}

.main {
    width: 87.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.top {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgray;
}

.navbt {
    height: 60%;
    margin: 0 0.5%;
    padding: 0 1%;
    font-size: small;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.navbt:hover {
    background-color: rgb(220, 220, 220);
}

.ads {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: large;
}

.contents {
    width: 90%;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    height: 50%;
    padding: 1%;
}

.thumb {
    width: 100%;
    height: 75%;
    text-align: center;
    object-fit: fill;
}

.info {
    width: 100%;
    height: 25%;
    display: flex;
}

.channel {
    width: 20%;
    border-radius: 50%;
    background-image: url(/img/swcodingschool.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    width: 80%;
    padding: 2%;
}

.text p {
    font-size: large;
}